body {
  font-family: roboto;
  background-color: #6262de;
}

#login-app {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    /*background-color: #3c3cdb;*/
    color: white; 
    padding: 10px;

    #auth-panel {
      padding: 15px;
    }

    h1 {
        text-align: center;
    }

    input {
      display: block;
      padding: 3px;
      margin: 5px;
      width: 100%;
      margin-top: 14px;
    }

    form {
      button {
        margin-top: 14px;
      }
    }
    #links {
        padding: 3px;
        text-align: center;
    }
}